[submodule "GATE/vendor/GLFW/source"]
	path = GATE/vendor/GLFW/source
	url = git@github.com:glfw/glfw.git
[submodule "GATE/vendor/spdlog/source"]
	path = GATE/vendor/spdlog/source
	url = git@github.com:gabime/spdlog.git
[submodule "premake/android"]
	path = premake/android
	url = git@github.com:polymonster/premake-android-studio.git
[submodule "premake/cmake"]
	path = premake/cmake
	url = https://github.com/Jarod42/premake-cmake.git
